:root {
  --color-primary: #fff;
  --bg-color: rgb(237, 239, 245);
  --button-background-color: #008cff;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,100;1,200;1,300;1,500;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
  width: 100%;
}

button {
  border: none;
  outline: none;
}
ul {
  list-style-type: none;
}

header {
  height: 100vh;
  /* max-width: 1000px; */
  margin: auto;
}

section {
  height: 100vh;
}
a {
  text-decoration: none;
}
a:focus {
  color: var(--button-background-color);
}

/* nav-bar section */
.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  height: 70px;
  z-index: 999;
  overflow: hidden;
  transition: all 150ms ease-in-out;
}
.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: var(--color-primary);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.logo {
  width: 50px;
  height: 50px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#nav_links {
  display: flex;
  list-style-type: none;
}

#nav_links li {
  margin-left: 15px;
  font-size: 17px;
  font-weight: 600;
  position: relative;
}
#nav_links li a {
  color: #111;
}
#nav_links li a:focus {
  color: #111;
}
#nav_links li::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  background: #008cff;
  transform: scale(0);
  transform-origin: center;
  transition: all 350ms ease-in-out;
}

#nav_links li.active::after,
#nav_links li:hover::after,
#nav_links li:hover a,
#nav_links li.active a {
  transform: scale(1);
  color: #008cff;
}

.nav_bar > .btn {
  display: block;
  margin: 20px 0;
  min-height: 50px;
  padding: 13px 24px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  background-position: top center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transition-property: background, color;
  width: 150px;
}

.nav_bar > .login {
  position: relative;
  display: block;
  color: var(--button-background-color);
  border-radius: 26px;
  box-sizing: border-box;
  border: 2px solid transparent;
  background-color: transparent;
  background-clip: padding-box;
  overflow: hidden;
  z-index: 1;
}
.nav_bar > .login::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 2px solid transparent;
  background-image: linear-gradient(var(--color-primary), var(--color-primary)),
    linear-gradient(90deg, var(--button-background-color), #6942ef);
  background-clip: padding-box, border-box;
  background-repeat: repeat-x;
  background-size: calc(100% + 2px * 2) calc(100% + 2px * 2);
  background-position: center;
  border-radius: 26px;
  z-index: -1;
  transition: border-color 0.2s;
}

.nav_bar > .login::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70vmax;
  height: 70vmax;
  border-radius: 50%;
  background-image: linear-gradient(
    90deg,
    var(--button-background-color),
    #6942ef
  );
  transform-origin: center;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.4s ease-in-out;
  z-index: -1;
}

.nav_bar > .login:hover {
  color: var(--color-primary);
}
.nav_bar > .login:hover::after {
  transform: translate(-50%, -50%) scale(1);
}

.nav_bar > .login:active {
  color: #c3c4d5;
}

.nav_bar > .login:focus::before {
  border-color: #008cff;
}

/* Personal section */

.container {
  position: relative;
  /* background-image: url("./src/images/lubo-minar-j2RgHfqKhCM-unsplash.jpg"); */
}

.container .container-left {
  padding: 10px;
}
.container .container-ri {
  padding: 10px;
}

.card {
  width: 80px;
  height: 80px;
  padding: 5px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#teeth {
  right: 600px;
  bottom: 220px;
}
#syringe {
  right: 400px;
}
#heart {
  right: 280px;
  top: 220px;
}
#drug {
  right: 150px;
  bottom: 140px;
}
/* responsive */

@media screen and (max-width: 768px) {
  #nav_links {
    display: none;
  }
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 40px;
}

.container .contianer-right,
.container .container-left {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.doctor-img {
  max-width: 350px;
  height: 350px;
}

.doctor-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.container-left .container-left-intro h5 {
  font-size: 0.9em;
  text-transform: uppercase;
  color: var(--button-background-color);
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 20px;
}

.container-left .container-left-intro h2 {
  font-size: 2.2em;
  margin-bottom: 20px;
  font-weight: 600;
  color: rgb(7, 5, 5);
}
.container-left > .container-left-intro > .btn {
  background: var(--button-background-color);
  padding: 5px;
  color: var(--color-primary);
  font-size: 15px;
  width: 150px;
  margin: 5px 0;
  height: 40px;
  border-radius: 10px;
  font-weight: 600;
}
.container-left > .container-left-intro > .get-application {
  background: var(--color-primary);
  color: var(--button-background-color);
  border: 2px solid var(--button-background-color);
}
